%h1 Video list

%table.table.table-striped
- @videos.each do |video|
	%thead
		%tr
			%th
				Description
			%th
			%th
			%th
	%tbody
		%tr
			%td
				= link_to video.title, video
			%td
				%li= " URL: #{video.url}"
			%td= video.interviewee
			%td
